.home-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.students-container {
  width: 70%;
  height: 730px;
  background-color: rgba(252, 0, 0, 0.615);
  border-radius: 40px;
}
.btn {
  background-color: #fff;
  color: #000;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  margin: 0 10px 10px 0;
}
.left-container {
  width: 30%;
  background-color: #fff;
  border-radius: 40px;
  height: 730px;
}
.error {
  padding: 10px;
  background: #fefefe;
  border: 1px solid var(--error);
  color: var(--error);
  border-radius: 4px;
  margin-bottom: 20px 0;
}
.filters {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: auto;
}
