/* RoutesPage.css */

.routes-container {
  display: flex;
  justify-content: space-between;
}

.kids-list,
.vans-list {
  width: 38%;
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
}

.kids {
  display: flex;
  flex-direction: column;
}

.kid-item {
  display: flex;
  justify-content: space-between; /* Align items horizontally */
  border: 1px solid #ddd;
  padding: 8px;
  margin: 4px;
}

.vans {
  display: flex;
  flex-direction: column;
}

.van-item {
  border: 1px solid #ddd;
  padding: 10px;
  margin: 10px 0;
}

.kids-in-van {
  display: flex;
  flex-direction: column;
}

/* Add more styles as needed */
