.box-item {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.box-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.box-button:hover {
  background-color: #0056b3;
}

.box-name {
  margin-right: 9px;
  padding: 0;
}
.box-address {
  margin: 2;
  padding: 2;
}
.box-number {
  margin-right: 8px;
}
