/* /* AddStudentToVan.css

/* Style the main container */
.add-student-container {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 400px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  height: 350px;
}
.add-employee-container {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 400px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  height: 350px;
  margin-top: 20px;
}
.add-vans-container {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 400px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  height: 300px;
  margin-top: 20px;
}
/* Style form elements */
.sel {
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Style the filter input */
.filter-inputs {
  margin: 10px 0;
  padding: 10px;
}

.filter-inputs input[type="text"] {
  width: 100%;
  padding: 5px;
  border: none;
  border-radius: 4px;
}

/* Style the student list */
.student-list {
  margin-top: 20px;
}

.student-list h3 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.student-list ul {
  list-style: none;
  padding: 0;
}

.student-list li {
  margin-bottom: 5px;
}

/* Style the "Assign Student to Van" button */
.sel-btn[type="submit"] {
  background-color: #ed3337;
  color: #fff;
  cursor: pointer;
  font-size: 1rem;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  transition: background-color 0.2s;
}

.sel-btn[type="submit"]:hover {
  background-color: #0056b3;
}
