.employee-details-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 95%;
  height: 105px;
  background-color: #fff;
  margin: 30px auto;
  border-radius: 70px;
  -webkit-box-shadow: 9px 14px 33px -4px rgba(0, 0, 0, 0.32);
  -moz-box-shadow: 9px 14px 33px -4px rgba(0, 0, 0, 0.32);
  box-shadow: 9px 14px 33px -4px rgba(0, 0, 0, 0.32);
}
.employee-details {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 80%;
}
.employee-photo {
  width: 90px;
  height: 90px;
  margin: 0;
  padding: 0;
  float: left;
  margin-left: 20px;
  border-radius: 50%;
  object-fit: contain;
}
.employee-container {
  width: 70%;
  height: 730px;
  background-color: #fff;
  border-radius: 40px;
}
.btn-employee {
  background-color: #ed3337;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  margin: 0 10px 10px 0;
}
.left-container {
  width: 30%;
  background-color: #fff;
  border-radius: 40px;
  height: 730px;
}
.error {
  padding: 10px;
  background: #fefefe;
  border: 1px solid var(--error);
  color: var(--error);
  border-radius: 4px;
  margin-bottom: 20px 0;
}
.filters {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: auto;
}
.employee-details-btn {
  margin-right: 5%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.update-employee input {
  margin: 15px auto;
}
.update-employee {
  margin-top: 40px;
}
.btn-employee-edit {
  background-color: orange;
}
.btn-employee-delete {
  background-color: red;
}
.employee-address {
  font-size: 12px;
  padding: 10px;
}
.employee-email {
  font-size: 12px;
  padding: 10px;
}
