.add-student {
  width: 50%;
}
.add-employee {
  width: 50%;
}
.add-van-info {
  width: 30%;
  height: 800px;
}
.vans-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  gap: 5%;
}
.vans {
  width: 65%;
  height: 800px;
  border: 1px solid black;
}
